<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/corsos" routerLinkActive="active">Link to List CorsoList</a>
    </div>
    <div>
        <a routerLink="/areas" routerLinkActive="active">Link to List AreaList</a>
    </div>
    <div>
        <a routerLink="/dipendentes" routerLinkActive="active">Link to List DipendenteList</a>
    </div>
    <div>
        <a routerLink="/esames" routerLinkActive="active">Link to List EsameList</a>
    </div>
 <!-- END LINKS -->
</div>